@import 'mixins';

// Desktop - Navigation

nav {
  @include shadow(2);

  background: $white;
  color: $black;
  font-family: 'brother';
  height: 60px;
  line-height: 60px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;

  ul {
    float: right;
    margin-top: -2px;
    padding: 0;
    transition: transform 0.5s ease-out;
  }

  li {
    display: inline-block;

    a {
      color: $black;
      display: block;
      font-size: 0.7em;
      height: 50px;
      letter-spacing: 1px;
      margin: 0 20px;
      padding: 0 4px;
      position: relative;
      text-transform: uppercase;
      transition: color 0.5s ease;

      &:hover {
        color: $cyan;

        &::after {
          width: 100%;
        }
      }

      &::after {
        background: $black;
        bottom: 0;
        content: '';
        height: 1px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        transition: width 0.3s ease;
        width: 0;
      }
    }
  }

  img {
    padding-top: 10px;
  }

  .nav-wrapper {
    margin: auto;
    width: 70%;
  }

  .logo {
    float: left;
    margin-left: 28px;
  }

  @media (max-width: 768px) {
    .nav-wrapper {
      width: 90%;
    }

    .logo {
      margin-left: 14px;
    }
  }

  @media (max-width: 640px) {
    ul {
      display: none;
    }

    .nav-wrapper {
      width: 100%;
    }
  }
}

// Mobile - Navigation Icon
@media (max-width: 640px) {
  .nav-icon {
    cursor: pointer;
    height: 23px;
    position: fixed;
    right: 15px;
    top: 20px;
    width: 27px;
    z-index: 99;

    .icon-bars {
      background: $black;
      height: 2px;
      left: 1px;
      position: absolute;
      top: 45%;
      transition: 0.4s;
      width: 20px;

      &::before {
        background: $black;
        content: '';
        height: 2px;
        left: 0;
        position: absolute;
        top: -8px;
        transition: 0.3s width 0.4s;
        width: 20px;
      }

      &::after {
        background: $black;
        bottom: -8px;
        content: '';
        height: 2px;
        left: 0;
        margin-top: 0;
        position: absolute;
        transition: 0.3s width 0.4s;
        width: 20px;
      }
    }

    :nth-child(2) {
      animation: middleBar 3s infinite 0.5s;
      background: rgb(183, 199, 211);
      width: 20px;

      &::before {
        animation: topBar 3s infinite 0.2s;
        background: rgb(183, 199, 211);
        width: 10px;
      }

      &::after {
        animation: bottomBar 3s infinite 1s;
        background: rgb(183, 199, 211);
        width: 15px;
      }
    }
  }

  .toggle {
    .icon-bars {
      top: 5px;
      transform: translate3d(0, 5px, 0) rotate(135deg);
      transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transition-delay: 0.1s;

      &::before {
        opacity: 0;
        top: 0;
        transition-delay: 0.1s;
      }

      &::after {
        top: 10px;
        transform: translate3d(0, -10px, 0) rotate(-270deg);
        transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition-delay: 0.1s;
      }

      &.overlay {
        opacity: 0;
        transition: opacity 0s ease 0s;
        width: 20px;
      }
    }
  }
}

// Mobile - Menu

.overlay-menu {
  align-items: center;
  background: $cyan;
  color: $black;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding-right: 15px;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(-100%);
  transition: transform 0.2s ease-out;
  width: 100vw;
  z-index: 98;

  ul {
    display: block;
    position: relative;
  }

  li {
    display: block;
    position: relative;

    a {
      display: block;
      font-size: 1.8em;
      letter-spacing: 4px;
      padding: 10px 0;
      text-align: right;
      text-transform: uppercase;
      transition: color 0.3s ease;

      &:active,
      &:hover {
        color: $red;
        transition: color 0.3s ease;
      }
    }
  }
}
