// Colors

$orange: #e64a19;
$white: #f9f9f9;
$black: #0d1a26;
$cyan: #06d6a0;
$blue: #1976d2;
$green: #00b358;
$lime: #74e600;
$purple: #7b1fa2;
$red: #d6063d;
$yellow: #ffea00;

$primary-color: $cyan;
$secondary-color: $red;

$trio-one: $blue;
$trio-two: $purple;
$trio-three: $orange;

// Breakpoints

$small: 48rem;
