{% embed 'partials/base.html.twig' %}

    {% block stylesheets %}
        {% do 
            assets.addCss('theme://styles/error.css', {
                'priority': 100,
                'loading': 'inline',
                'type': 'text/css',
                'rel': 'stylesheet'
            }) %}
    {% endblock %}

    {% block content %}
        <section>
            <div>
                <h1>Page not found</h1>
                <a href="/" class="button">Click here to go back</a>
            </div>
        </section>
    {% endblock %}

    {% block scripts %}{% endblock %}

{% endembed %}