{% embed 'partials/base.html.twig' %}

    {% block stylesheets %}
        {% do 
            assets.addCss('theme://styles/home.css', {
                'priority': 100,
                'loading': 'inline',
                'type': 'text/css',
                'rel': 'stylesheet'
            }) %}
    {% endblock %}

    {% block content %}
        <!-- image -->
        <section class="header-image" style="background-color: #0d1a26;">
            <h1 data-aos="slide-up" data-aos-duration="700" data-aos-easing="ease-in-out">MAGMO</h1>
        </section>

        <!-- intro -->
        <section class="intro">
            <div class="background">
                SEMANTIC JS CMS SCSS CHROME SVG SEO PAROLLER FIREFOX MOBILE CMS ELEGENT FIREFOX SEMANTIC PAROLLER MOBILE HTML5 COFFEE GRAV CSS3 MOBILE JS QUICK RESET ELEGENT SCSS SEO ELEGENT JQUERY CSS3 LIGHT ELEGENT SCSS MODERN GRID ELEGENT FAST PAROLLER CHROME CUSTOM PAROLLER MODERN CSS3 JQUERY DESKTOP QUICK RESET SEO LOVE SSL SEMANTIC SEO CHROME MODERN QUICK JS IMAGES RESET SEO COFFEE CMS GRID PAROLLER SIMPLE SCSS JS COFFEE GRID GRAV FAST SIMPLE SEMANTIC FAST CSS3 HTML5 COFFEE RESET LIGHT DESKTOP CUSTOM JQUERY SEO FIREFOX IMAGES FRESH FLEX FRESH CSS3 PAROLLER CHROME CUSTOM LIGHT GRID PAROLLER LOVE FRESH JQUERY FLEX JQUERY SEO SVG ELEGENT MODERN MOBILE SIMPLE COFFEE SIMPLE SCSS RESET FRESH FIREFOX PAROLLER SIMPLE DESKTOP FRESH SEO MODERN GRAV LIGHT ELEGENT SSL DESKTOP SIMPLE RESET CUSTOM MOBILE SCSS ELEGENT FIREFOX ELEGENT COFFEE MOBILE MOBILE SIMPLE MODERN JS JQUERY QUICK SEMANTIC RESET LOVE SEMANTIC JQUERY CUSTOM CHROME FLEX PAROLLER COFFEE GRID COFFEE CMS RESET FIREFOX LIGHT CSS3 HTML5 FLEX JQUERY CSS3 QUICK JQUERY COFFEE IMAGES DESKTOP HTML5 QUICK FLEX SEMANTIC FAST SCSS RESET FAST CUSTOM GRAV FLEX FIREFOX ELEGENT FAST FIREFOX JS CSS3 SEO COFFEE RESET SEMANTIC PAROLLER CMS GRID SCSS CUSTOM ELEGENT FLEX FRESH SEMANTIC GRAV ELEGENT CUSTOM DESKTOP FRESH LOVE GRID JS PAROLLER MOBILE LIGHT SEMANTIC GRID HTML5 CHROME CMS GRID SSL LOVE FAST FIREFOX JS MOBILE GRAV GRAV FAST GRAV JS GRAV IMAGES MODERN SVG SCSS IMAGES CUSTOM CMS COFFEE CUSTOM COFFEE DESKTOP CMS QUICK FRESH LOVE SEMANTIC QUICK CMS SVG SCSS DESKTOP SSL FRESH SIMPLE GRID COFFEE FRESH HTML5 MOBILE SEMANTIC DESKTOP IMAGES SSL FAST JS JS CMS FIREFOX JS CHROME FIREFOX GRID COFFEE SCSS PAROLLER SCSS SIMPLE ELEGENT SEMANTIC DESKTOP SEO FIREFOX SSL SVG MODERN SVG FLEX SSL JS QUICK ELEGENT GRAV JQUERY COFFEE SSL FLEX SEMANTIC SVG LIGHT FLEX DESKTOP CSS3 DESKTOP IMAGES ELEGENT RESET ELEGENT SSL GRAV FRESH CHROME SSL SSL PAROLLER LIGHT GRID HTML5 SIMPLE GRAV FLEX CUSTOM LIGHT QUICK SEMANTIC JQUERY CMS CHROME CMS FRESH QUICK HTML5 DESKTOP MOBILE FAST CHROME SEO IMAGES CHROME GRID FAST MOBILE FAST PAROLLER CHROME FAST RESET SSL CSS3 GRAV JQUERY IMAGES SVG QUICK ELEGENT FRESH SCSS HTML5 PAROLLER COFFEE LOVE LOVE GRAV CMS SSL JS JQUERY SIMPLE LOVE SEO FIREFOX SSL JQUERY CHROME CUSTOM FLEX SCSS QUICK SCSS FAST ELEGENT SSL SCSS FRESH SSL MODERN PAROLLER FAST QUICK MODERN MOBILE LIGHT FLEX CUSTOM DESKTOP LOVE DESKTOP SEO LIGHT CHROME GRAV QUICK SVG LIGHT FAST DESKTOP QUICK FLEX PAROLLER CSS3 GRAV DESKTOP JQUERY HTML5 DESKTOP CUSTOM MODERN FLEX CSS3 FIREFOX SEO SIMPLE CMS CSS3 FRESH CUSTOM ELEGENT SVG JS MOBILE IMAGES FIREFOX MODERN CSS3 SCSS SEMANTIC DESKTOP QUICK FIREFOX IMAGES CUSTOM SEMANTIC IMAGES SEO SIMPLE SCSS FIREFOX SEO PAROLLER LIGHT SIMPLE FLEX CSS3 PAROLLER SEO SSL FAST JS FIREFOX SVG COFFEE HTML5 CUSTOM CHROME SSL GRAV SVG MOBILE FLEX PAROLLER CHROME DESKTOP JQUERY HTML5 FRESH GRID SIMPLE SVG SEO LOVE QUICK SSL SEO GRID SIMPLE MODERN FAST LOVE DESKTOP LOVE CHROME SVG SEO SCSS</div>
            <div class="blocks">
                <div data-aos="fade-up" data-aos-duration="500">
                    <svg aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 576 512">
                        <path fill="currentColor" d="M546.2 9.7c-5.6-12.5-21.6-13-28.3-1.2C486.9 62.4 431.4 96 368 96h-80C182 96 96 182 96 288c0 7 .8 13.7 1.5 20.5C161.3 262.8 253.4 224 384 224c8.8 0 16 7.2 16 16s-7.2 16-16 16C132.6 256 26 410.1 2.4 468c-6.6 16.3 1.2 34.9 17.5 41.6 16.4 6.8 35-1.1 41.8-17.3 1.5-3.6 20.9-47.9 71.9-90.6 32.4 43.9 94 85.8 174.9 77.2C465.5 467.5 576 326.7 576 154.3c0-50.2-10.8-102.2-29.8-144.6z"></path>
                    </svg>
                    <h3>Light</h3>
                    <p>Built with CSS Grid</p>
                </div>
                <div data-aos="fade-up" data-aos-duration="700">
                    <svg aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512">
                        <path fill="currentColor" d="M448 360V24c0-13.3-10.7-24-24-24H96C43 0 0 43 0 96v320c0 53 43 96 96 96h328c13.3 0 24-10.7 24-24v-16c0-7.5-3.5-14.3-8.9-18.7-4.2-15.4-4.2-59.3 0-74.7 5.4-4.3 8.9-11.1 8.9-18.6zM128 134c0-3.3 2.7-6 6-6h212c3.3 0 6 2.7 6 6v20c0 3.3-2.7 6-6 6H134c-3.3 0-6-2.7-6-6v-20zm0 64c0-3.3 2.7-6 6-6h212c3.3 0 6 2.7 6 6v20c0 3.3-2.7 6-6 6H134c-3.3 0-6-2.7-6-6v-20zm253.4 250H96c-17.7 0-32-14.3-32-32 0-17.6 14.4-32 32-32h285.4c-1.9 17.1-1.9 46.9 0 64z"></path>
                    </svg>
                    <h3>Modern</h3>
                    <p>Built semantically using SCSS</p>
                </div>
                <div data-aos="fade-up" data-aos-duration="900">
                    <svg aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 320 512">
                        <path fill="currentColor" d="M295.973 160H180.572L215.19 30.184C219.25 14.956 207.756 0 192 0H56C43.971 0 33.8 8.905 32.211 20.828l-31.996 240C-1.704 275.217 9.504 288 24.004 288h118.701L96.646 482.466C93.05 497.649 104.659 512 119.992 512c8.35 0 16.376-4.374 20.778-11.978l175.973-303.997c9.244-15.967-2.288-36.025-20.77-36.025z"></path>
                    </svg>
                    <h3>Grav</h3>
                    <p>Built with GRAV CMS</p>
                </div>
            </div>
        </section>

        <!-- showcase -->
        <section class="showcase">
            <div class="container" data-aos="slide-up" data-aos-duration="900">
                <div class="divider">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="content">
                    <h1>Who am I?</h1>

                    {{ page.content }}

                    <a class="button" href="/about-me">Find out more</a>
                </div>
            </div>
            <div class="background"></div>
        </section>
        <section class="rose" img-defer="img-defer"></section>

    {% endblock %}

    {% block script %}
        {% do 
            assets.addInlineJs("AOS.init();") %}
    {% endblock %}

{% endembed %}