// Suh

@import 'Components/base';

.header-image {
  align-items: center;
  background: url('../images/homeMain.jpg') fixed (center / cover);
  display: flex;
  height: 100vh;
  justify-content: center;

  @media (max-width: 768px) {
    background-attachment: scroll;
  }

  h1 {
    color: $white;
    font-family: 'Brother', sans-serif;
    font-size: 14vw;
    letter-spacing: 0.4vw;
    margin-top: -2vh;
    text-shadow: 2px 2px 0 $primary-color;
  }
}

.intro {
  position: relative;

  .background {
    background-color: $cyan;
    color: rgba($black, 0.2);
    font-family: 'Zilla';
    font-size: 1.4rem;
    height: 100%;
    overflow: hidden;
    padding-bottom: 34vh;
    position: absolute;
    text-align: justify;
    z-index: -1;

    @media (max-width: 48rem) {
      padding-bottom: 55vh;
    }
  }

  .blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    padding: 3rem 2rem;
    width: 75%;

    div {
      color: $white;
      padding: 2.4rem;
      text-align: center;

      &:nth-child(1) {
        background-color: $trio-one;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
      }

      &:nth-child(2) {
        background-color: $trio-two;
      }

      &:nth-child(3) {
        background-color: $trio-three;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
      }
    }

    svg {
      height: 4em;
      margin-bottom: 0.5rem;
    }

    h3 {
      display: block;
      margin: 0.4rem 0;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      padding: 3rem 1rem;

      div {
        padding: 1.8rem;
        text-align: right;

        &:nth-child(1) {
          border-bottom-left-radius: 0;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }

        &:nth-child(3) {
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
          border-top-right-radius: 0;
        }
      }

      svg {
        float: left;
        height: 3rem;
      }

      p {
        font-size: 14px;
      }
    }

    @media (max-width: 480px) {
      width: 90%;
    }
  }
}

.showcase {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 15vh 4fr;
  width: 100%;

  .container {
    @include shadow(3);

    background-color: $white;
    grid-column: 2;
    grid-row: 1 / 3;
    margin-bottom: -15vh;
    z-index: 2;

    .content {
      padding: 2rem;
      text-align: center;
    }

    h1 {
      padding: 1rem;
    }

    h3 {
      padding-bottom: 1rem;
    }

    @media (max-width: 768px) {
      h1 {
        font-size: 2.6rem;
      }

      p {
        font-size: 0.8rem;

        &:nth-child(5),
        &:nth-child(6) {
          display: none;
        }
      }
    }
  }

  .divider {
    div {
      float: left;
      height: 0.25rem;
      text-align: center;
      width: 33.333%;
    }

    :nth-child(1) {
      background-color: $trio-one;
    }

    :nth-child(2) {
      background-color: $trio-two;
    }

    :nth-child(3) {
      background-color: $trio-three;
    }
  }

  .background {
    background-color: $secondary-color;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }

  @media (max-width: 480px) {
    grid-template-columns: 1fr 18fr 1fr;
  }
}

.rose {
  background: $black;
  height: 30vh;
  width: 100vw;

  &.visible {
    background: url('../images/homeSecondary.jpeg') scroll (center / cover);
  }
}
